body {
  background: #cdf;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.preload { display: none; }

#license img {
  height: 20px;
}

button { cursor: pointer; }

#github {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 7px;
  border: transparent;
  background: rgba(255,255,255,0.3);
}

#github:hover {
  background: rgba(255,255,255,0.6);
}

#github img {
  height: 16px;
  padding-right: 10px;
  vertical-align: -3px;
}

#copyright {
  font-size: 80%;
}

#dropzone {
  background: rgba(0,0,0, 0.2);
  border-radius: 20px;
  margin: 60px;
  padding: 60px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#dropzone.over, #dropzone.download:hover {
  background: rgba(0,0,0,0.4);
}

#dropzone.download {
  cursor: pointer;
}

#dropzone.download img {
  width: 50px;
  height: 50px;
  padding-right: 100px;
}